{
	"presets": ["@babel/preset-env"],
	"plugins":["@babel/proposal-class-properties",
   [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}