html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: system-ui;
    --status-color:rgb(102, 76, 140);
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 200px;
    user-select: none;
    -webkit-app-region:drag;
    display: none;
    animation: active 0.5s;
    backdrop-filter: blur(10px);
}

.main {
    flex: 1;
}

.titlebar {
    display: flex;
    height: 50px;
    width: 100%;
    -webkit-app-region: drag;
    user-select: none;
    transition: background-color 1s;
}

.tabsbar {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: hidden;
}

.space {
    width: 10px;
    height: 10px;
}

space {
    width: 10px;
    height: 10px;
}

.tab {
    padding: 5px;
    opacity: 0.7;
}

.tab-context {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: width 0.5s;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    border-right: 5px solid transparent;
    transition: background-color 0.3s;
    -webkit-app-region:none;
}

.tab-context:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.tab-active .tab-close {
    display: block;
}

.tab-title {
    flex: 1;
    border-left: 5px solid transparent;
    white-space: nowrap;
}

find {
    background-color: rgba(100, 200, 10, 0.4);
}

.tab-close {
    display: none;
    height: 30px;
    min-width: 30px;
    width: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-close:hover {
    background-color: tomato;
}

.tab-close::before {
    display: inline-block;
    content: "";
    width: 30px;
    cursor: pointer;
    height: 30px;
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(255,255,255)' class='bi bi-x' viewBox='0 0 16 16'>  <path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1.6rem 1.6rem;
    background-position: center
}

.tab-active {
    opacity: 1;
}

.tab-active>.tab-context {
    width: 300px;
    transition: width 0.6s;
}

.toolbar {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.titlebar-button {
    padding: 5px 10px 0px 10px;
    cursor: pointer;
    -webkit-app-region:none;
    display: none;
    opacity: 0.8;
}

.titlebar-button svg {
    color: #fff;
    cursor: pointer;
}

.titlebar-button:hover {
  opacity: 1;
}

.database {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 32px;
    color: #fff;
    border-radius: 5px;
    margin-top: 5px;
    margin: 10px 10px 0px 10px;
    opacity: 0.7;
    display: flex;
    overflow: hidden;
    animation: ani_width 1s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-app-region:none;
}

.database-name {
    flex: 1;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 2px 0px 10px;
    overflow: hidden;
    white-space: nowrap;
}

.database-info {
    display: inline-block;
    font-size: 11px;
    border-radius: 5px;
    line-height: 2;
    padding: 0px 4px 0px 4px;
    transform: rotate( 10deg);
}

.database:hover {
    opacity: 1;
}

.database-active {
    opacity: 1;
}

.views {
    width: 100%;
    overflow: hidden;
}

.editor {
    width: 100%;
    height: 300px;
}

.view {
    display: none;
    transition: display 0.5s;
    position: relative;
    overflow: auto;
    width: inherit;
    height: inherit;
}

.view>table {
    padding: 10px;
    margin: 10px;
}

.view-active {
    display: block;
    /* animation: active 0.5s; */
}

.view_table_list {
    border-collapse: collapse;
}

.view_table_list thead {
    position: sticky;
    top: 50px;
}

.view_table_list tr {
    line-height: 2;
}

.view_table_list tr:hover td {
    background-color: rgba(175, 175, 175, 0.2);
}

.view_table_list td {
    padding: 0px 10px 0px 10px;
}

.results {
    width: 1100%;
    min-height: 100px;
    background-color: aliceblue;
}

.th-tow {
    text-align: center;
}

.view table {
    font-size: 14px;
}

.view thead {}

.view th {
    position: sticky;
    top: 0px;
    z-index: 100;
    padding: 0px 10px 0px 10px;
    text-align: left;
    line-height: 3;
}

.view td {
    white-space: nowrap;
    max-width: 400px;
    overflow: hidden;
    z-index: 10;
    line-height: 2.5;
}

.td-tow {
    text-align: center;
    position: sticky;
    left: 0px;
    z-index: 100;
}

error {
    line-height: 1.5;
    padding: 20px;
    display: block;
}

success {
    line-height: 1.5;
    padding: 20px;
    display: block;
}

hr {
    opacity: 0.5;
}

.link {
    display: block;
    width: max-content;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.5;
}

.link:hover {
    text-decoration: underline;
}

.card {
    background-color: rgba(175, 175, 175, 0.2);
    min-width: 200px;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.card:hover {
    background-color: rgba(175, 175, 175, 0.3);
}

.welcome {
    max-width: 900px;
    margin: 0 auto;
}

.statusbar {
    width: 100%;
    height: 24px;
    display: flex;
    background-color: var(--status-color);
    color: #fff;
}

.statusbar-left {
    height: inherit;
    flex: 1;
    display: flex;
    padding-left: 2px;
    justify-content: start;
    align-items: center;
}

.statusbar-right {
    height: inherit;
    flex: 1;
    display: flex;
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
}

.status-button {
    margin-left: 5px;
    cursor: pointer;
    height: inherit;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-button span {
    font-size: 14px;
    line-height: 14px;
    padding-left: 2px;
}

.status-button svg {}

.status-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.connect {
    display: none;
    animation: active 0.5s;
}

.connectting {
    display: none;
    animation: active 0.5s;
}

input {
    outline: none;
}

highlight {
    color: tomato;
    text-decoration: underline;
}

.message {
    line-height: 1.5;
    font-size: 16px;
    white-space: nowrap;
}

.connect input {
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    width: 180px;
    font-size: 14px;
}

.connect input[type=button] {
    width: 204px;
    border: 0;
    height: 28px;
    color: #fff;
    opacity: 0.7;
    transition: opacity 0.5s;
    cursor: pointer;
}

.connect input[type=button]:hover {
    opacity: 1;
}

.loadding {
    left: 2px;
    overflow: hidden;
    height: 26px;
    width: 26px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
}

.loadding::before {
    display: inline-block;
    content: "";
    width: 26px;
    cursor: pointer;
    height: 26px;
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(102, 76, 140)' class='bi bi-flower1' viewBox='0 0 16 16'>    <path d='M6.174 1.184a2 2 0 0 1 3.652 0A2 2 0 0 1 12.99 3.01a2 2 0 0 1 1.826 3.164 2 2 0 0 1 0 3.652 2 2 0 0 1-1.826 3.164 2 2 0 0 1-3.164 1.826 2 2 0 0 1-3.652 0A2 2 0 0 1 3.01 12.99a2 2 0 0 1-1.826-3.164 2 2 0 0 1 0-3.652A2 2 0 0 1 3.01 3.01a2 2 0 0 1 3.164-1.826zM8 1a1 1 0 0 0-.998 1.03l.01.091c.012.077.029.176.054.296.049.241.122.542.213.887.182.688.428 1.513.676 2.314L8 5.762l.045-.144c.248-.8.494-1.626.676-2.314.091-.345.164-.646.213-.887a4.997 4.997 0 0 0 .064-.386L9 2a1 1 0 0 0-1-1zM2 9l.03-.002.091-.01a4.99 4.99 0 0 0 .296-.054c.241-.049.542-.122.887-.213a60.59 60.59 0 0 0 2.314-.676L5.762 8l-.144-.045a60.59 60.59 0 0 0-2.314-.676 16.705 16.705 0 0 0-.887-.213 4.99 4.99 0 0 0-.386-.064L2 7a1 1 0 1 0 0 2zm7 5-.002-.03a5.005 5.005 0 0 0-.064-.386 16.398 16.398 0 0 0-.213-.888 60.582 60.582 0 0 0-.676-2.314L8 10.238l-.045.144c-.248.8-.494 1.626-.676 2.314-.091.345-.164.646-.213.887a4.996 4.996 0 0 0-.064.386L7 14a1 1 0 1 0 2 0zm-5.696-2.134.025-.017a5.001 5.001 0 0 0 .303-.248c.184-.164.408-.377.661-.629A60.614 60.614 0 0 0 5.96 9.23l.103-.111-.147.033a60.88 60.88 0 0 0-2.343.572c-.344.093-.64.18-.874.258a5.063 5.063 0 0 0-.367.138l-.027.014a1 1 0 1 0 1 1.732zM4.5 14.062a1 1 0 0 0 1.366-.366l.014-.027c.01-.02.021-.048.036-.084a5.09 5.09 0 0 0 .102-.283c.078-.233.165-.53.258-.874a60.6 60.6 0 0 0 .572-2.343l.033-.147-.11.102a60.848 60.848 0 0 0-1.743 1.667 17.07 17.07 0 0 0-.629.66 5.06 5.06 0 0 0-.248.304l-.017.025a1 1 0 0 0 .366 1.366zm9.196-8.196a1 1 0 0 0-1-1.732l-.025.017a4.951 4.951 0 0 0-.303.248 16.69 16.69 0 0 0-.661.629A60.72 60.72 0 0 0 10.04 6.77l-.102.111.147-.033a60.6 60.6 0 0 0 2.342-.572c.345-.093.642-.18.875-.258a4.993 4.993 0 0 0 .367-.138.53.53 0 0 0 .027-.014zM11.5 1.938a1 1 0 0 0-1.366.366l-.014.027c-.01.02-.021.048-.036.084a5.09 5.09 0 0 0-.102.283c-.078.233-.165.53-.258.875a60.62 60.62 0 0 0-.572 2.342l-.033.147.11-.102a60.848 60.848 0 0 0 1.743-1.667c.252-.253.465-.477.629-.66a5.001 5.001 0 0 0 .248-.304l.017-.025a1 1 0 0 0-.366-1.366zM14 9a1 1 0 0 0 0-2l-.03.002a4.996 4.996 0 0 0-.386.064c-.242.049-.543.122-.888.213-.688.182-1.513.428-2.314.676L10.238 8l.144.045c.8.248 1.626.494 2.314.676.345.091.646.164.887.213a4.996 4.996 0 0 0 .386.064L14 9zM1.938 4.5a1 1 0 0 0 .393 1.38l.084.035c.072.03.166.064.283.103.233.078.53.165.874.258a60.88 60.88 0 0 0 2.343.572l.147.033-.103-.111a60.584 60.584 0 0 0-1.666-1.742 16.705 16.705 0 0 0-.66-.629 4.996 4.996 0 0 0-.304-.248l-.025-.017a1 1 0 0 0-1.366.366zm2.196-1.196.017.025a4.996 4.996 0 0 0 .248.303c.164.184.377.408.629.661A60.597 60.597 0 0 0 6.77 5.96l.111.102-.033-.147a60.602 60.602 0 0 0-.572-2.342c-.093-.345-.18-.642-.258-.875a5.006 5.006 0 0 0-.138-.367l-.014-.027a1 1 0 1 0-1.732 1zm9.928 8.196a1 1 0 0 0-.366-1.366l-.027-.014a5 5 0 0 0-.367-.138c-.233-.078-.53-.165-.875-.258a60.619 60.619 0 0 0-2.342-.572l-.147-.033.102.111a60.73 60.73 0 0 0 1.667 1.742c.253.252.477.465.66.629a4.946 4.946 0 0 0 .304.248l.025.017a1 1 0 0 0 1.366-.366zm-3.928 2.196a1 1 0 0 0 1.732-1l-.017-.025a5.065 5.065 0 0 0-.248-.303 16.705 16.705 0 0 0-.629-.661A60.462 60.462 0 0 0 9.23 10.04l-.111-.102.033.147a60.6 60.6 0 0 0 .572 2.342c.093.345.18.642.258.875a4.985 4.985 0 0 0 .138.367.575.575 0 0 0 .014.027zM8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z'/>  </svg>");
    background-repeat: no-repeat;
    background-size: 1.6rem 1.6rem;
    animation: loadding 1s;
    animation-iteration-count: infinite;
}

@keyframes loadding {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg)
    }
}

@keyframes ani_width {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes active {
    0% {
        opacity: 0;
        transform: translate(-10%, 0) scale(0.9, 1);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) scale(1, 1);
    }
}

@keyframes command {
    0% {
        opacity: 0;
        transform: translate(-10%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.view[data-web=true] {
    height: inherit;
    width: inherit;
    animation: none;
}

iframe {
    border: 0;
    height: inherit;
    width: inherit;
}

#statusbar-selected {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
}

.interface {
    display: none;
    position: fixed;
    top: 60px;
    right: 60px;
    padding: 4px;
    background-color: rgba(175, 175, 175, 1);
    box-shadow: 4px 4px 9px rgba(175, 175, 175, 0.5);
}

.interface input {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}

.interface button {
    height: 30px;
}

.darp_layer {
    position: fixed;
    background-color: rgba(175, 175, 175, 0.3);
    backdrop-filter: blur(10px);
    z-index: 100000;
    min-width: 200px;
    min-height: 50px;
    opacity: 0;
    display: none;
    /* animation: command 0.5s; */
    border-radius: 5px;
}

.darp_view {
    width: inherit;
    height: inherit;
}

.darp_area {
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
}

.darp_area[data-over=true] {
    background-color: rgba(175, 175, 175, 0.2);
}

.darp_area svg {
    padding-left: 20px;
}

.darp_area div {
    padding-left: 20px;
}

.grid {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    vertical-align: top;
    border-radius: 2px;
}

.grid:hover {
    background-color: rgba(175, 175, 175, 0.2);
}

.grid_group {
    position: sticky;
    top: 0;
}

.grid_group div {
    font-weight: bolder;
    font-size: 12px;
    color: #fff;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    height: inherit;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.grid_title {
    line-height: 2;
    text-align: center;
    font-size: 14px;
}

.grid_info {
    text-align: center;
    font-size: 12px;
}

#statusbar-selected {
    min-width: 100px;
}

#statusbar-info {
    min-width: 20px;
}
#window-button{
    padding-right: 5px;
    display: none;
    -webkit-app-region:none;
}
.window-button{
    padding: 5px 5px 0px 5px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 5px;
}
.window-button:hover{
    opacity: 1;
}




/* 设置滚动条的样式 */
::-webkit-scrollbar {
    /* width: 12px; */
    width: 10px;
    height: 10px;
    background: transparent;
 

}

/* 滚动槽 */
::-webkit-scrollbar-track {
    background: transparent;
    
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
 
    background: rgba(175, 175, 175, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
   
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(175, 175, 175, 0.3);
 
}
::-webkit-scrollbar-corner{
    background: transparent;
}
a{
    text-decoration: none;
    color: inherit;
}